/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  background-color: gray;
}

.map {
  width: 25*32px;
}

.grid {
  height: 25px;
  width: 25px;
  float: left;
  position: relative;
}

.tile-wall {
  background-color: black;
}

.tile-grass {
  background-color: green;
}

.hero {
  z-index: 10;
  position: absolute;
}

.hero.my {
  z-index: 100;
}

.hero .name {
  position: absolute;
  left: 30px;
  color: white;
}

.hero.my .name {
  font-weight: bold;
  color: yellow;
}

.hero.dead .name {
  color: red;
}

